:root {

--blue:#1c73ff; --white: #ffffff; --black: #000;
}

body {

background-color: var(--blue); /*cor de fundo da página a azul*/
font-family: ‘Roboto’, sans-serif; /*tipo de letra Roboto, ou, se indisponível, sans-serif*/ color: var(--white); /*cor do texto a branco*/
}

.nav-link {

color: white !important;
}

.active {

text-decoration: underline;
}

.nav-link:hover {

color: black !important;
}


    
        
    